<div id="<%= dom_id client %>">
  <p>
    <strong>Clientname:</strong>
    <%= client.ClientName %>
  </p>

  <p>
    <strong>Clientid:</strong>
    <%= client.ClientID %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.Phone %>
  </p>

</div>
